[submodule "OpenSteamClient.DI"]
	path = OpenSteamClient.DI
	url = https://github.com/OpenSteamClient/OpenSteamClient.DI
[submodule "OpenSteamClient.Logging"]
	path = OpenSteamClient.Logging
	url = https://github.com/OpenSteamClient/OpenSteamClient.Logging
