[submodule "OpenSteamworks.Protobuf"]
	path = OpenSteamworks.Protobuf
	url = https://github.com/OpenSteamClient/OpenSteamworks.Protobuf
[submodule "OpenSteamworks.Native"]
	path = OpenSteamworks.Native
	url = https://github.com/OpenSteamClient/OpenSteamworks.Native
[submodule "OpenSteamClient.DI"]
	path = OpenSteamClient.DI
	url = https://github.com/OpenSteamClient/OpenSteamClient.DI
[submodule "OpenSteamClient.Logging"]
	path = OpenSteamClient.Logging
	url = https://github.com/OpenSteamClient/OpenSteamClient.Logging
