1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "OpenSteamClient"
      VALUE "FileDescription", "OpenSteamClient launcher"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "OpenSteamClient"
      VALUE "LegalCopyright", "©OpenSteamClient"
      VALUE "OriginalFilename", "OpenSteamClient.exe"
      VALUE "ProductName", "OpenSteamClient"
      VALUE "ProductVersion", "1.0"
    END
  END
END